*{
    margin: 0
    padding; 0
}

#game{
    width: 500px;
    height: 200px;
    border: 1px solid black;
}

#personagem{
    width: 20px;
    height: 50px;
    background-color: black;
    position: relative;
    top: -50px;
} 

.animar{
    animation: personagem 500ms infinite linear;
}

#quadrado{
    animation: quadrado 1s infinite linear;
}

@keyframes personagem{
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}

}
#quadrado{
    width: 20px;
    height: 20px;
    background-color: rgb(62, 12, 109);
    position: relative;
    top: -70px;
    left: 480px;
    animation: quadrado is infinite linear;
}

@keyframes quadrado{
    0%{left: 480px;}
    100%{left: -40px;}
}