@charset "UTF-8";

@font-face {
    font-family: 'Bebas, Neue';
    src: url('../fontes/BebasNeue-Regular.ttf') format('opentype');
    font-weight: normal;
}
/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); */

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas, Neue', cursive;
    --fonte-android: 'Android', cursive;
}

* {
   
}

body {
   margin: 0px;
}

header {
   background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
   padding: 10px 10px 10px 10px;
   margin:0px;

}

header h1 {
   font-family: var(--fonte-destaque);
   text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.404);
   text-align: center;
   color: #fff;
   font-size: 50px;
   font-weight: normal;
   padding: 10px 10px 10px 10px;

}

header p {
   font-family: var(--fonte-padrao);
   font-weight: normal;
   color: #fff;
   text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.404);
   text-align: center;
   margin-bottom: 50px;
   padding: 0px 10px 0px 10px;
}

header > nav > a {
   font-family: var(--fonte-padrao);
   font-weight: bold;
   color: var(--cor1);
   text-decoration: none;
   padding: 10px 10px 10px 10px;
   border-radius: 5px;
   transition-duration: 0.5s;
   

}

header > nav > a:hover {
   color: var(--cor5);
   background-color:var(--cor3);
   transition-duration: .5s;
}

main {
   background-color: #fff;
}

main h1 {
   font-family: var(--fonte-android);
   color: var(--cor5);
   text-indent: 30px;
   font-weight: normal;
   font-size: 30px;
   padding: 0px 10px 0px 10px;
}

main p {
   font-family: var(--fonte-padrao);
   text-indent: 30px;
   text-align: justify;
   padding: 0px 10px 0px 10px;
   
}

main strong {
   color: var(--cor4);
   padding: 0px 5px 0px 5px;
}

main h2 {
   font-family: var(--fonte-android);
   font-weight: normal;
   color: var(--cor5);
   background-image: linear-gradient(to right, var(--cor1), transparent);
   padding-left: 20px;
}

main a {
   background-color: var(--cor1);
   text-decoration: none;
   color:var(--cor5);
   font-weight: bold;
   padding: 0px 10px 0px 10px;
}

main img {
   width: 100%;
}

.imagempqn {
  max-width: 300px;
   margin: auto;
   display: block;
}

.video {
    background-color: black;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.5%;
    position:relative;
}

.video:hover {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
